{% extends "base.html" %}
{% block content %}
<form method="POST" action="/searchFavourite">
    <label>Search recipe in favourite:</label>
    <input type="text" name="searchFavourite" value="{{searchFavourite}}" placeholder="Seach your favourite recipe here...."/>
    <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
    <button type="submit">Submit</button>
</form>

{% if recommendWord != "" %}
<form method="POST" action="/searchFavourite">
    <label>Searching result from</label>
    <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
    <button type="submit">{{recommendWord}}</button>
</form>
{% endif %}

<p class="title">
    {% with messages = get_flashed_messages() %}
    {% if messages[0] == 1 %}
<div class="notification is-success">
    Add favourite success
</div>
{% endif %}
{% if messages[0] == 0 %}
<div class="notification is-danger">
    This food address already exists
</div>
{% endif %}
{% endwith %}
{% for item in data %}
ID: {{item.id}}<br>
Food Name: {{item.title}}<br>
<img src="../static/FoodImages/FoodImages/{{item.image}}"><br>
<form action="/delete-favourite/{{item.id}}">
    <input type="submit" value="Delete favourite">
</form><br>
 <form method="POST" action="/details">
      <input name="food_name" value="{{item.title}}" hidden>
      <input type="submit" value="Details">
    </form><br>
---------------------------------------------------------------------------------------------------<br>
{% endfor %}
</p>
{% endblock %}
