{% extends "base.html" %}

{% block content %}
<p class="title">
    Let's find your recipe
</p>

<button type="submit" onclick="checkClickName()" class="button is-warning">Search by Name</button>
<button type="submit" onclick="checkClickIngredients()" class="button is-warning">Search by Ingredients</button>

<!--Name-->
<form method="POST" action="/name" id="recipeName">
    <label for="name">Search by name:</label>
    <input type="text" id="name" name="name" class="input is-warning is-medium is-rounded"><br>
    <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
    <button type="submit" class="button is-warning">Search</button>
</form>

<!--Ingredients-->
<form method="POST" action="/ingredients" id="recipeIngredients">
    <label for="ingredients">Search by ingredients:</label>
    <input type="text" id="ingredients" name="ingredients" class="input is-warning is-medium is-rounded"><br>
    <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
    <button type="submit" class="button is-warning">Search</button>
</form>
{% endblock %}