{% extends "base.html" %}

{% block content %}


<form method="POST" action="/ingredients">
  <label for="ingredients">Ingredients:</label>
  <input type="text" id="ingredients" name="ingredients"><br>
  <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
  <input type="submit" value="Submit">
</form>

{% if recommendWord != "" %}
<form method="POST" action="/ingredients">
    <label>Searching result from</label>
    <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
    <button type="submit">{{recommendWord}}</button>
</form>
{% endif %}
<!--Name-->
<form method="POST" action="/name">
  <label for="name">name:</label>
  <input type="text" id="name" name="name"><br>
  <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
  <input type="submit" value="Submit">
</form>

{% if recommendWord != "" %}
<form method="POST" action="/name">
    <label>Searching result from</label>
    <input type="text" name="recommendWord" value="{{recommendWord}}" hidden/>
    <button type="submit">{{recommendWord}}</button>
</form>
{% endif %}

<p class="title">
  {% for item in data %}
    Food Name: {{item.Food_name}}<br>
    <img src="../static/FoodImages/FoodImages/{{item.Images}}"><br>

    <form method="POST" action="/add-favourite">
      <input name="food_name" value="{{item.Food_name}}" hidden>
      <input name="user" value="{{user_id}}" hidden>
      <input name="food_image" value="{{item.Images}}" hidden>
      <input type="submit" value="Add to favourite">
    </form><br>
  ---------------------------------------------------------------------------------------------------<br>
  {% endfor %}
</p>
{% endblock %}